body, html{
  /*
  height: 100%;
  */
  width: 100%;
  overflow-x: hidden;
  position: relative;
}

/*=========START SIDEBAR=========*/
.main-contents{
  margin-left: 60px;
  transition: 300ms;
}

  .main-contents.active{
    margin-left: 250px;
  }

#sidebar {
  min-width: 250px;
  max-width: 250px;
  color: #fff;
  transition: all 0.3s;
  position: fixed;
  height: 100%;
  left: 0;

}
#sidebar.active {
  min-width: 92px;
  max-width: 92px;
  text-align: center;
}

#sidebar.active .sidebar-header h3{
  display: none;
}
#sidebar.active .sidebar-header img {
  width: 46px;
  cursor: pointer;
  margin-top: 12px;
  display: inline-block;
  margin-left: -3px;
}

#sidebar ul li a {
  text-align: left;
}

#sidebar.active ul li a {
  padding: 20px 10px;
  text-align: center;
  font-size: 0.85em;
}

#sidebar.active ul li a i {
  margin-right:  0;
  display: block;
  font-size: 1.8em;
  margin-bottom: 5px;
}

#sidebar.active ul ul a {
  padding: 10px !important;
}

#sidebar.active a[aria-expanded="false"]::before, #sidebar.active a[aria-expanded="true"]::before {
  top: auto;
  bottom: 5px;
  right: 50%;
  -webkit-transform: translateX(50%);
  -ms-transform: translateX(50%);
  transform: translateX(50%);
}

#sidebar .sidebar-header {
  padding: 0 20px;
  background: transparent;
  text-align: right;
  height: 70px
}
#sidebar .sidebar-header img{
  width:46px ;
  cursor: pointer;
  margin-top: -51px;
  display: inline-block;
  margin-left: 23px;
}
#sidebar .sidebar-header h3{
  display: inline-block;
  font-family: 'Cairo', sans-serif;
  font-size: 34px;
  margin: 0px;
  margin-top: 8px;
}
#sidebar .sidebar-header h3 span{
  display: block;
  font-size: 18px;
  margin-right: 8px;
}

#sidebar .sidebar-header strong {
  display: none;
  font-size: 1.8em;
}

#sidebar ul.components {
  padding: 20px 0;
}

#sidebar ul li a {
  padding: 10px 25px;
  font-size: 1.1em;
  display: block;
  color: #ffffff6b;
}
#sidebar ul li a:hover, #sidebar ul li a:focus {
  color: white;
  background: none;
  text-decoration: none !important;
}
#sidebar ul li a i {
  margin-right: 10px;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
  color: #fff;
  background: #055a7f;
}


a[data-toggle="collapse"] {
  position: relative;
}

#sidebar a[aria-expanded="false"]::before, #sidebar a[aria-expanded="true"]::before {
  content: '\e259';
  display: block;
  position: absolute;
  right: 20px;
  font-family: 'Glyphicons Halflings';
  font-size: 0.6em;
}
#sidebar a[aria-expanded="true"]::before {
  content: '\e260';
}


#sidebar ul ul a {
  font-size: 0.9em !important;
  padding-left: 60px !important;
  background: none;
  margin-left: 10px;
}


@media (max-width: 768px) {
  /*#sidebar {
    min-width: 92px;
    max-width: 92px;
    text-align: center;
    margin-left: -92px !important ;
  }*/
  /*a[aria-expanded="false"]::before, a[aria-expanded="true"]::before {
    top: auto;
    bottom: 5px;
    right: 50%;
    -webkit-transform: translateX(50%);
    -ms-transform: translateX(50%);
    transform: translateX(50%);
  }*/
  #sidebar.active {
    margin-left: 0 !important;
  }

  #sidebar .sidebar-header h3{
   /* display: none;*/
  }

  #sidebar .sidebar-header strong {
    display: block;
  }

  #sidebar ul li a {
    /*padding: 20px 10px;*/
  }

  #sidebar ul li a span {
    font-size: 0.85em;
  }
  #sidebar ul li a i {
    margin-right:  0;
    /*display: block;*/
  }

  /*#sidebar ul ul a {
    padding: 10px !important;
  }*/

  #sidebar ul li a i {
    /*font-size: 1.3em;*/
  }
  #sidebar {
    margin-left: 0;
  }
  #sidebarCollapse span {
    display: none;
  }

}

/*======OVERRIDE======*/
#sidebar{
  .media {
    padding: 10px 24px;
  }
}
#sidebar .navbar-btn{
background: none;
border: 0;
}
#sidebar img.media-object {
  max-width: 38px;
  border-radius: 100%;
}
#sidebar .media-heading {
  margin-top: 3px;
  margin-bottom: 5px;
  font-size: 16px;
}
#sidebar .media-body ul li:nth-last-of-type(2){
  letter-spacing: 1px;
  font-size: 12px;
}
#sidebar .media-body ul li span{
  width:8px;
  height: 8px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.75);
  display: inline-block;
}
#sidebar .media-body ul li i{
  font-size: 13px;
  color: rebeccapurple;

}
#sidebar .cols{
  padding: 10px;
}
#sidebar .cols h4{
  margin-top: 0 !important;
}
#sidebar .cols .text-center {
  background-color: #257a9f;
  padding: 5px;
  border-radius: 3px;
}
#sidebar .color-bg{
  background-color: #076187;
  height: 100%;
}

#sidebar.active .media,
#sidebar.active .cols{
  display: none;
}

@media (max-width:991px) {
  #sidebar .sidebar-header {
    background-color: #102a34;
  }
  #sidebar .sidebar-header img{
    filter:invert(100%);
  }
}
#sidebar .sidebar-header.scroll {
  background: #102a34;
}
#sidebar .sidebar-header.scroll img{
  filter:invert(100%);
}

//last collapsed edits
#sidebar.active span{
  display: none;
}
#sidebar.active ul li a i {
  margin-right: 0;
  display: block;
  font-size: 1.9em;
  margin-bottom: 5px;
  width: 30px;
  margin: auto;
}
#sidebar.active {
  min-width: 60px;
  max-width: 60px;
  text-align: center;
}
#sidebar.active .sidebar-header img {
  width: 44px;
  cursor: pointer;
  margin-top: 14px;
  display: inline-block;
  margin-left: -13px;
}